$main-color: #D49202;
$about-bg-color: #ffffff;
$menu-bg-color: #18100D;

/*lololl*/

/*------------------------------------------------------------------*/

* {
  box-sizing: border-box;
}

html, body {
  margin: 0;
  padding: 0;
  height: 100%;
}

body {

}

section {
    min-height: 100%;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
}

h1, h2, h3, h4, h5, li, a, p {
  font-family: 'Helvetica Neue', sans-serif;
}

.hl {
  border-top: 3px solid $main-color;
}

.vl {
  border-left: 3px solid $main-color;
}

/*------------------ HOME ---------------------*/
.section__home {
  background-image: url("assets/landing.png");
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: auto;
  background-attachment: fixed;

  position: relative;
}

/*------------------ HOME - header ---------------------*/
header {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  padding: 0;
}

.header__hl {
  width: 316px;
  margin-top: 66px;
}

.home__nav {
 float: right;
}

.home__nav ul {
  margin: 44px 150px 0 0;
}

.home__nav li {
  float: left;
  padding-left: 78px;
}

.home__nav li:first-of-type {
  padding-left: 45px;
}

.home__nav a {
  color: $main-color;
  font-size: 32px;
  font-weight: 300;
}

/*------------------ HOME - sidebar ---------------------*/
.home__sidebar {
  position: absolute;
  top: 41px;
  margin-left: 66px;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.sidebar__verticalLine {
  margin-top: 7vh;
  margin-bottom: 7vh;
  height: 34vh;
}

.sidebar__sns {
  width: 32px;
  padding-bottom: 3vh;
}

/*------------------ HOME - rightBottomCornerLines ---------------------*/
.home__rightBottomCornerLines {
  position: absolute;
  top: 83vh;
  left: 1291px;
}

.rightBottomCornerLines__hl {
  width: 52px;
  transform: translateY(52px);
}

.rightBottomCornerLines__vl {
  height: 52px;
  transform: translateX(52px);
}

/*------------------ ABOUT ---------------------*/
.section__about {
  background-color: $about-bg-color;
}

/*------------------ ABOUT - header ---------------------*/
.about__header {
display: flex;
justify-content: center;
}

h2 {
  color: $main-color;
  font-size: 60px;
  font-weight: 400;
  margin: 90px 0 0 0;
}

.about__hl {
  margin-left: 50px;
  width: 870px;
  margin-top: 132.5px;
  height: 0px;
}

.about__description {
  width: 870px;
  font-size: 25px;
  font-weight: 300;
  text-align: justify;
  margin: 18px 0 0 435px;
}

/*------------------ ABOUT - gallery ---------------------*/
.about__gallery {
  display: grid;
  grid-template-columns: 180px 180px 180px 280px;
  grid-template-rows: 180px 180px 325px;
  grid-gap: 50px;
  grid-template-areas:
    "img1 img2 img3 img4"
    "img5 img7 img7 img7"
    "img6 img7 img7 img7";

  justify-content: center;
  padding: 55px 0 100px 0;
}

.gallery_wrapper {
  overflow: hidden;
}

.wrapper--small {
  width: 180px;
  height: 180px;
}

.wrapper--big {
  width: 740px;
  height: 555px;
}

.gallery_wrapper_img {
  height: 100%;
}

.wrapper--small.gallery_wrapper_img {
  transform: translateX(-20%);
}

@for $i from 1 through 7 {
  .gallery_wrapper:nth-of-type(#{$i}) {
    grid-area: img + $i;
  }
}

/*------------------ MENU ---------------------*/
.section__menu {
  position: relative;
  padding: 140px 0 140px 0;
  background-color: $menu-bg-color;
  display: flex;
  justify-content: center;
}

/*------------------ MENU - sidenav ---------------------*/
.menu__sidenav {
}

.sidenav__wrapper--style {
  width: 60px;
  height: 60px;
  margin-bottom: 50px;
  border: 1px solid $main-color;
}

.menu__sidenavLines {

}

.sidenavLines__hl {
  position: absolute;
  top: 170px;
  width: 49px;
}

.sidenavLines__vl {
  height: 1428px;
  margin: 0 90px 0 50px;
}

/*------------------ MENU - menucard ---------------------*/
.menu__container {
  border: 1px solid white;
  width: 960px;
  height: 1450px;
  text-align: justify;
  text-justify: distribute-all-lines;
}

.container__description {
  border: 1px dashed white;
  height: 145px;
}

.container__ulOne, .container__ulTwo{
  border: 1px dashed white;
  width: 450px;
  height: 1295px;
  display: inline-block;
}

/*Damit in der Speisekarte eine Lücke zwis den letzten zwei Elemente entsteht,
damit margin vermieden wird lol*/
.stretch {
      width: 100%;
      display: inline-block;
      font-size: 0;
      line-height: 0
}

/*------------------ BOOKING ---------------------*/
.section__booking {
  background-image: url("assets/Ryongscales.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;
}

.booking__container {
  width: 500px;
  height: 500px;
  background-color: rgba(24, 16, 13, 0.75);
  border: 3px solid $main-color;

  position: absolute;
  top: 50%;
  left: 50%;
  margin: -250px 0 0 -250px;
  text-align: center;

  display: flex;
  justify-content: center;
  flex-direction: column;
}

h3 {
  font-size: 40px;
  font-weight: 350;
  color: $main-color;
  margin: 0;
}

.booking__container p {
  font-size: 25px;
  font-weight: 300;
  color: $main-color;
  margin: 0;
}

.container__openinghours {
  margin: 60px 0 60px 0;
}

/*------------------ CONTACT ---------------------*/
.section__contact {
  background-image: url("assets/RYONG_lights2.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  position: relative;

  display: flex;
  justify-content: center;

  padding: 90px 0 90px 0;
}

.contact--flexcon {
  display: flex;
  flex-direction: column;
}

.contact__maps {
  width: 500px;
  height: 315px;
  margin: 0 170px 27px 0;
  background-color: white;
}

.contact__impressum {
  width: 500px;
  color: white;
  font-size: 15px;
}

.contact__form {
  width: 400px;
  height: 580px;
  background-color: white;
}

/*------------------ IGFEED ---------------------*/
.section__igfeed {
  min-height: 350px;
  text-align: center;
}

h5 {
  margin: 0;
  color: $main-color;
  font-size: 40px;
  font-weight: 300;
}

/*------------------ FOOTER ---------------------*/
footer {
  background-color: $menu-bg-color;
  height: 80px;
}

.footer__sns {
  display: flex;
  justify-content: center;
  padding-top: 24px;
}

.footer__sns__img.sns--ig, .footer__sns__img.sns--fb {
  margin-right: 30px;
}
